/*css goes here*/
.view{
	margin-top: 10vw;
}
.panel-body li{
	display: block;
	border-style: solid;
	border-width: 5px;
	border-color: #004488;
	margin-top: 5px;
	text-align: center;
	font-size: 25px;
	margin-right: 50px;
	min-height: 50px;
	max-height: auto;
	max-width: 1000px;
}
img{
	max-height: 100%;
	height:auto;
	max-width: 100%;
}