/*css goes here*/
.view{
	margin-top: 10vw;
}
.panel-body li{
	border-color: #004488;
	border-style: solid;
	border-width: 5px;
	color: #0065a2;
	display: block;
	font-size: 25px;
	margin-right: 50px;
	margin-top: 5px;
	max-height: auto;
	max-width: 1000px;
	min-height: 50px;
	text-align: center;
}
img{
	height:auto;
	max-height: 100%;
	max-width: 100%;
}
.panel-heading{
	font-size: 30px;
}
.panel{
	margin-top: 12rem;
}