.container{
	text-align: center;
	margin-top: -13vw;
}
.container-nav{
	margin-top: 1vw;
	color: white;
	margin-left: 12vw;
}
.container1{
	margin-top: 7vw;
}
.container-avg{
	text-align: center;
	margin-top: 1vw;
	margin-bottom: 1vw;
}
.container-submit{
	text-align: center;
}
.submit{
	margin-top: 1vw;
	margin-bottom: 2vw;
}
.home{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3vw;
}
