.container{
	font-family: 'Hind Guntur', sans-serif;
	font-weight: bold;
	margin-top: -13vw;
	text-align: center;
}
.container-nav{
	color: white;
	font-family: 'Hind Guntur', sans-serif;
	font-weight: bold;
	margin-left: 12vw;
	margin-top: 1vw;
}
.container1{
	margin-top: 7vw;
}
.container-avg{
	margin-bottom: 1vw;
	margin-top: 1vw;
	text-align: center;
}
.container-submit{
	text-align: center;
}
.submit{
	margin-top: 1vw;
	margin-bottom: 2vw;
}
.home{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3vw;
}
