/*css goes here*/
.overview{
	margin-top: 8vw;
}
body{
	background-image: url("../mylondonhome.jpg");
	background-size: 20% 42%;
	background-repeat: repeat-x;
	background-position: top;
	
}
.navbar{
	margin-top: 8vw;
}