.mylondonhome-container{
	margin-top: 100px;
}

.rating {
  margin: 0 auto;
  position: relative;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}



.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked,
.rating:not(:checked) > label {
    float:center;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

/*.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}*/

/*.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
*/
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.navbar{
    background-color: #f2f2f2;
}
.container{
    margin-top: 1vw;
    color: black;
}
.panel{
    margin-top: 12vw;
}
.panel-heading{
    text-align: center;
}
.panel-body{
    text-align: center;
}
.card{
    text-align: center;
    margin-top: 5vw;
}
.overview {
    text-align: center;
    margin-top: 5vw;
}
li {
    display: inline;
    list-style: none;
    text-align: center;
}
.home{
    margin-right: 1vw;
    margin-left: -2vw;
}
.map{

    margin-right: 2vw;
}
.leisure{

    margin-left: -1vw;
}
.button{
    background-color: white;
    border-width: 3px;
    border-color: blue;
    color: black;
}
.button:hover{
    background-color: #e6e6e6;
    border-color: #1affb2;
    color: black;
}