.mylondonhome-container{
	margin-top: 100px;
}

.rating {
  float: left;
  margin-left: 35vw;
}

.rating:not(:checked) > input {
  position:absolute;
  left:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  color:#ddd;
  cursor:pointer;
  float:right;
  font-size:200%;
  line-height:1.2;
  overflow:hidden;
  padding:0 .1em;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
  white-space:nowrap;
  width:1em;
}

.rating:not(:checked) > label:before {
  content: &#9733;
}

.rating > input:checked ~ label {
  color: #ff7700;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating> input:checked + label:hover,
.rating> input:checked + label:hover ~ label,
.rating> input:checked ~ label:hover,
.rating> input:checked ~ label:hover ~ label,
.rating> label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}
.navbar{
  background-color: #004480;
}
.container{
  margin-top: 1vw;
  color: black;
}
.panel{
  margin-top: 12vw;
}
.panel-heading{
  text-align: center;
}
.panel-body{
  text-align: center;
}
.panel-primary > .panel-heading{
  background-color: #004488;
}
.card{
  text-align: center;
  margin-top: 5vw;
}
.overview {
  text-align: center;
}
li {
  display: inline;
  list-style: none;
  text-align: center;
}
.home{
  margin-left: -10vw;
}
.map{
  margin-right: 1vw;
}
.leisure{
  margin-left: -1vw;
}
.button{
  background-color: #004488;
  border-width: 1px;
  border-color: white;
  color: white;
  transition: all 0.7s ease 0s;
}
.button:hover{
  background-color: white;
  border-color: white;
  color: #004488;

}
.app{
  background-color: #f7d500;
  border-color: #e6c600;
  color: #002645;
  margin-bottom: 1vw;
  margin-top: 1vw;
  transition: all 0.7s ease 0s;

}
.app:hover{
  background-color: #e6c600;
  border-color: #f7d500;
  color: white;
}
.navbar-form{
  margin-left: -8vw;
  margin-right: 2vw;
}