.navbar{
	background-color: #004488;
}
.checkbox{
	text-align: left;
}
.dash{
	color: white;
}
.sign-up{
	float: right;
}
.home{
	margin-left: 1vw;
}
.panel{
	margin-top: 5rem;
}
.sign{
  background-color: #f7d500;
  border-color: #e6c600;
  color: #002645;
  margin-right: 100rem;
  transition: all 0.7s ease 0s;
}
.sign:hover{
  background-color: #e6c600;
  border-color: #f7d500;
  color: white;
}