.navbar{
	background-color: #004488;
}
.prop{
	color: white;
}
li{
	display: block;
	border-style: solid;
	border-width: 5px;
	border-color: #004488;
	margin-top: 5px;
	text-align: center;
	font-size: 50px;
}
