.navbar{
	background-color: #004488;
}
.prop{
	color: white;
	margin-top: 10px;
}
li{
	border-color: #004488;
	border-style: solid;
	border-width: 5px;
	display: block;
	font-size: 50px;
	margin-top: 5px;
	text-align: center;
}
.panel{
	margin-top: 5rem;
}
.panel-heading{
	font-size: 16px;
}
.home{
	margin-left: 5vw;
	margin-bottom: 5px;
}
.select{
  background-color: #f7d500;
  border-color: #e6c600;
  color: #002645;
  transition: all 0.7s ease 0s;
}
.select:hover{
  background-color: #e6c600;
  border-color: #f7d500;
  color: white;
}
.sl{
  background-color: #f7d500;
  border-color: #e6c600;
  color: #002645;
  transition: all 0.7s ease 0s;
}
.sl:hover{
  background-color: #e6c600;
  border-color: #f7d500;
  color: white;
}
